<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-user"/>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>20,400</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">TOTAL CUSTOMERS</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-calendar"/>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>8300</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">UPCOMING EVENTS</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>530</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">NEW CUSTOMERS</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-info-sign"/>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>85000</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">EMAILS SENT</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-heart-empty"/>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>270</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">FOLLOW UPS</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-flag"/>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>350</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">REFFEREALS TO MODERATE</span>
                </div>
            </div>
        </div>

    </div>
</section>
