<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-6" ng-repeat="item in homeItems">
            <div class="row">
                <div class="col-xs-4">
                    <h1 class="pull-right">
                        <button type="button" class="btn" ng-class="item.btnColor">
                            <span class="glyphicon" ng-class="item.icon"/>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-8">
                    <h1 ng-if="$odd" class="text-primary">{{item.count}}</h1>
                    <h1 ng-if="$even">{{item.count}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-4">
                    <span class="text-muted">{{item.description}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
