.custom-profile {
    font-size: 250px;
}

.checkbox-left {
    height: 34px;
    width: 10%;
    text-align: justify;
}

.list-item-margin {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .list-item-margin {
        margin-bottom: 20px;
    }
}

.background-white {
    background-color: ghostwhite !important;
}
